body {
    background-color: #c7cad0;
}  
h1 {
    color: #bc6cd9;
    font-size: 25px;
    font-family: 'segoe UI';
  

}
h2 {
    color: #bc6cd9;
}
p{
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: rgb(76, 108, 153);
}
img{
    max-width: 25%;
    max-height: 25%;
}
.enviar{
    border-radius: 10px;
    background-color: #6ded74;
    color: #272625;
}
.etiqueta{
    background-color: rgb(231, 108, 169);
    font-size: 25;
    
}
ol li{
    font-size: 30px;
    color: rgb(108, 11, 204);
    
}
ul li{
    color: green;
    font-weight: bold;
    background-color: rgb(165, 225, 24);
    text-align: center;
}
